body{
    display: flex;
    margin: 20px;
    background-color: beige;
    align-content: center;
    padding: 10px;
}
.img{
    border-radius:top 2px;
    width: 100%;
    height: 250px;
}
.post{
    text-align: center;
    margin: 10px;
    border: 2px;
    background-color: aqua;
    border-radius: 2%;
    justify-content: space-between;
    flex-basis: 20%;
}



